//font-size
$_64px:4rem;
$_36px:2.25rem;
$_30px:1.875rem;
$_24px:1.5rem;
$_18px:1.125rem;
$_13px:0.8125rem;

//colors
$_red: #E71414;
$_coral: #FF4343;
$_grey: #C6CBCD;
$_dark_grey: #6C7279;
$_black: #2D3033;
$_blue: #656980;
$_white: #ffffff;
$_grey_blue: #353C65;
$_dark_grey-blue: #2C3154;
$_green: #808080;
$_purpur: #5C3249;
