* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@import "_variable.scss";
@import "_cdn.scss";
@import "_mixins.scss";
@import "main.scss";
@import "features.scss";
@import "work.scss";
@import "our-team.scss";
@import "download.scss";
@import "swiper-section.scss";
@import "location.scss";
@import "footer.scss";
html { 
  font-family: 'Raleway', sans-serif;
}
.container{
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}
.wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}



